DB_HOST=db
DB_PORT=3306
DB_USER=nawigacja
DB_PASSWORD=secret_password_here
DB_NAME=nawigacja_gwiezdna
PORT=3000
QUERY_FILE=/data/nawigacja_gwiezdna_select.sql
MYSQL_ROOT_PASSWORD=secret_root_password_here
